header {
  width: 100%;
}

.logotipo {
  font-family: 'Jost', sans-serif;
}

.box {
  background-color: rgba(255, 255, 255, 0.025);
  border: 1px solid #712FFF59;
  border-radius: .5rem;

  width: 80%;
  padding: 1.5rem;
}

.values > del {
  color: #ffffff50;
}

.left{
  width: 50%;
}

.right  {
  width: 35%;
}

.right > .column {
  width: 80%;
}

@media (max-width: 1000px) {
  .left, .right, .right > .column {
    width: 100%;
  }

  .row {
    gap: 1.5rem !important;
  }
}